.content{
    margin-top: -55px;
}

li:hover{
    background: rgb(16, 25, 48);
    border-bottom-width: 1px;
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity));
    cursor: pointer;
    
}